@import './variables.scss';

@mixin box {
  font-size: 2em;
  font-weight: bold;
  width: $size;
  height: $size;
  border: 2px solid #555;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.present {
  @include box;
  background-color: $present-color;
  border: 2px solid $present-color;
  color: black;
}

.correct {
  @include box;
  background-color: $correct-color;
  border: 2px solid $correct-color;
  color: black;
}

.absent {
  @include box;
  background-color: $absent-color;
  border: 2px solid $absent-color;
  color: black;
}

.empty {
  @include box;
}

.edit {
  @include box;
}
